.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target/
.externalToolBuilders
.settings
/bin/
logs/daywms.log
logs/daywms.log_2017-06-08.log
logs/daywms.log_2017-06-09.log
