<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuling.busi.dao.OrderMapper">


    <insert id="insertOrder" parameterType="com.tuling.busi.bean.Order">
        insert into order${tableSuffix}(order_id,user_id,money) values(#{orderId},#{userId},#{money})
    </insert>
</mapper>